.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background: #2f3135;
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f3135;
  color: white;
  border-bottom: 3px solid #26282c;
}

.sidebar__channels {
  flex: 1;
}

.sidebar__addChannel {
  cursor: pointer;
}

.sidebar__addChannel:hover {
  color: white;
}

.sidebar__channelsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2f3135;
  color: gray;
}

.sidebar__header {
  display: flex;
  align-items: center;
}

.sidebar__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  padding: 10px;
  border-top: 1px solid gray;
}

.popup__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup__wrap h4 {
  color: white;
  padding-bottom: 14px;
}

.alert__form {
  display: flex;
  align-items: center;
  color: gray;
  border-radius: 3px;
  padding: 3px;
}

.inLimitChannelName {
  color: white;
}

.notInLimitChannelName {
  color: crimson !important;
}

.alert__form > input {
  background: transparent;
  outline-width: 0;
  color: white;
  border: none;
}

.inputButtons__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createChannel__inputButton,
.closeCreateChannel__inputButton {
  background-color: #474b53;
  color: white;
  border: white;
  padding: 8px 12px;
  margin: 18px 10px auto 10px;
  font-weight: 600;
  border-radius: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.createChannel__inputButton:hover,
.closeCreateChannel__inputButton:hover {
  background-color: #5f6674;
}

.sidebar__voiceInfo > h3 {
  color: #4fb185;
}

.sidebar__voiceInfo > p {
  font-size: smaller;
}

.sidebar__voiceIcons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar__profileInfo {
  flex: 1;
  padding: 10px;
}

.sidebar__profileInfo > h3 {
  color: white;
}

.sidebar__profileIcons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar__channelsList {
  flex-wrap: wrap-reverse;
}
